/* Main Authenticated View Content Styles */
#view-content {
  align-items: stretch;
  justify-content: center;
  padding: 0 3rem;
}

#transaction-table-container {
  padding: 0 1rem;
}

#view-content .form-input {
  margin: 8px auto;
  padding: 0 20px;
}

/* Create Transaction Form */
#create-transaction-container {
  flex-wrap: wrap;
}

#create-transaction-form {
  background-color: var(--pure-white);
  justify-content: space-evenly;
  margin: 0 0 1rem;
  padding: 1rem;
}

#create-transaction-form .transaction-element {
  flex-grow: 1;
  margin: 0 0.5rem;
}

#amount-label {
  display: inline-block;
}

#transaction-amount-paid {
  margin-left: 0.1rem;
}

.disabled-amount {
  opacity: 0.4;
}

#add-transaction-btn,
#reset-transaction-btn {
  margin: 0 0.5rem 1rem 0;
}

/* Create Transaction Error Alerts */
#add-transac-err-msg {
  display: inline-block;
}
#add-transac-err-alert {
  width: auto;
  margin: 0 0 1rem 0;
}

/* Table Search & Filtering */
#search-table {
  margin: 0 !important;
}

#search-filters {
  font-size: var(--body);
  margin-top: 0.4rem;
}

#search-filters select {
  background-color: var(--pure-white);
  -webkit-appearance: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem 0 0.3rem;
}

#search-filters select:hover {
  cursor: pointer;
}

.filter-label {
  margin-left: 0.25rem;
}

/* Dynamic Scroll Table */
#tableview {
  position: relative;
  padding-top: 3.5em;
  margin: 1rem 0;
}
#tableview:before {
  border-radius: 5px 5px 0 0;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
}
#tableview-holder {
  display: block;
  position: static;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 20rem;
  border-radius: 0 0 5px 5px;
}
#transaction-table {
  background-color: var(--pure-white);
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 0;
  position: static;
  table-layout: fixed;
  width: 100%;
}

/* The following allows for a sticky thead */
#transaction-table thead tr th,
#transaction-table thead tr th:after {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: static;
  white-space: nowrap;
}
#transaction-table thead tr th:after {
  color: transparent;
  content: attr(sort-by);
  display: inline-block;
}
#transaction-table thead tr th:before {
  content: attr(sort-by);
  line-height: 3.5em;
  margin-top: -3.5em;
  position: absolute;
}
#tableview:before {
  background-color: var(--grey);
  height: 3.5em;
}

/* Hover styles for table rows */
#transaction-table thead tr th {
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
#transaction-table thead tr th:hover {
  cursor: pointer;
  opacity: 0.7;
}
#transaction-table tbody:hover tr td {
  background-color: var(--white);
  opacity: 0.4;
}
#transaction-table tbody:hover tr:hover td {
  background-color: white;
  cursor: pointer;
  opacity: 1;
}

#transaction-table tbody tr {
  border-bottom: 1px solid var(--white);
}
#transaction-table tbody tr td {
  max-width: 12rem;
  padding: 0.5rem 0;
  text-align: center;
  overflow-x: scroll;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
}

/* Table Pagination & Buttons */
#table-pages {
  justify-content: space-between;
}
#page-buttons {
  display: inline-block;
}
.pg-btn {
  padding: 0.5rem 0;
  text-align: center;
  width: 1.5rem;
}
#jump-pages-input {
  display: inline-block;
}
#curr-page-input {
  border: 1px solid var(--blue);
  font-size: var(--header);
  margin: 0;
  padding: 0.2rem 0;
  text-align: center;
  width: 3rem;
}

/* Table Extras */
.new-row {
  background-color: var(--orange);
}

#no-search-results {
  border-radius: 0 0 5px 5px;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
  #view-content {
    flex-direction: column;
    padding: 0 1.5rem;
  }
  #view-content h2 {
    margin: 0.5rem 0;
  }
  #transaction-table-container,
  #create-transaction {
    padding: 0;
    width: 100%;
  }
  #create-transaction-container {
    order: 0;
  }
  #transaction-table-container {
    order: 1;
  }
  #transaction-table-body {
    height: 15rem;
    width: 100%;
  }
  #create-transaction-form {
    flex-direction: row;
  }
  #add-transac-err-alert {
    display: inline-block;
    padding: 10px 20px;
  }
  #create-transaction-form {
    padding: 0.5rem;
  }
}

@media (max-width: 680px) {
  #create-transaction-form {
    flex-direction: column;
  }
  #table-pages {
    align-items: center;
    flex-direction: column;
  }
  #jump-pages-input {
    margin-top: 1rem;
  }
  .filter-label {
    display: none;
  }
}
