#viewContent {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 0 1.5rem;
}

#main-form {
    padding: 1rem;
    margin-top: 0.5rem !important;
}

 #main-form {
    background-color: white;
    border-radius: 10px;
    margin: 1rem 0;
    filter: drop-shadow( 0 0 10px rgba(0, 0, 0, .1));
}

#transactionTable, #transactionForm {
    padding: 0 1rem;
}

#transactionForm {
    flex-wrap: wrap;
}

#transactionForm .transactionElement {
    flex-grow: 1;
    margin: 0 0.5rem
}

#addForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media  (max-width: 1024px) {
    #viewContent {
        flex-direction: column;
        padding: 0 1.5rem;
    }

    h2 {
        margin: 0.5rem 0;
    }
    #transactionForm {
        order: 0;
        padding: 0;
        width: 100%;
    }
    #transactionTable{
        order: 1;
        padding: 0;
        width: 100%;
    }
    #transactionTableBody {
        height: 15rem;
        width: 100%;
    }
    #addForm {
        flex-direction: row;
    }

    #add-transac-err-alert {
        display: inline-block;
        padding: 10px 20px;
    }
    #main-form {
        padding: 0.5rem;
    }
}


@media  (max-width: 680px) {
    #addForm {
        flex-direction: column;
    }
}

#viewContent input[type=text], input[type=date], input[type=number]{
    padding: 0 20px;
    margin: 8px auto;
    box-sizing: border-box;
    border: 1.5px solid var(--grey);
    border-radius: 5px;
    background-color: white;
    opacity: 0.8;
    font-size: var(--header);
    width: 100%;
    height: 2.5rem;
}
#viewContent input[type=text]:focus, input[type=date]:focus, input[type=number]:focus{
    opacity: 0.9;
    outline:none;
    box-shadow: none;
    filter: drop-shadow( 0 0 10px rgba(0, 0, 0, .2));
}
#viewContent label{
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: var(--header);
    color: var(--grey);
    font-weight: bold;
    margin-top: 0.5rem;
    display: block;
}

#amount-label {
    display: inline-block !important;
}

h2 {
    color: var(--grey);
    display: inline-block;
    margin: 0.5rem 0;
}

#cur-page-input {
    width: 3.25rem;
    padding: 0.5rem 0.15rem 0.5rem 0.5rem;
    background-color: var(--white);
    border: 1px solid var(--blue);
    margin: 0;
    text-align: center;
}

#total-pages {
    display: inline-block;
    margin: 0;
}

#jump-pages-input{
    color: var(--grey);
    display: inline-block;
}

#search-table {
    width: 100%;
    margin: 0 !important;
}

#transaction-merchant{
    width: 100%;
}

#page-buttons {
    display: inline-block;
}
#page-buttons div{
    width: 2rem;
    padding: 0.5rem 0;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    border: 1px solid var(--blue)
}

#page-buttons div:hover{
    background-color: var(--grey);
    color: var(--white);
    cursor: pointer;
    filter: drop-shadow( 0 0 10px rgba(0, 0, 0, .1));
}

#curr-page {
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

#table-pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#transaction-amount-paid {
    margin-left: 0.1rem;
    font-size: var(--body);
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: var(--red);
    border-radius: 5px;
    color: white;
}

#transaction-amount-paid:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#transaction-amount-earned {
    font-size: var(--body);
    padding: 0.25rem 0.5rem;
    display: inline-block;
    background-color: var(--green);
    border-radius: 5px;
    color: white;
}

#transaction-amount-earned:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.disabled-amount {
    opacity: 0.4;
}

.new-row {
    background-color: #f7c74480;
}

select {
    background-color: white;
    border: 1.5px solid var(--grey);
    color: var(--grey);
    -webkit-appearance: none;
    padding: 0.5rem 1rem;
    filter: drop-shadow( 0 0 10px rgba(0, 0, 0, .1));
    margin: 0.5rem 1rem 0 0.3rem;
}

select:hover {
    filter: drop-shadow( 0 0 12px rgba(0, 0, 0, .2));
    cursor: pointer;
}

#search-filters {
    color: var(--grey);
    font-size: var(--body);
    margin-top: 0.4rem;
}

#no-search-results {
    background-color: var(--red);
    color: var(--white);
    padding: 2rem 0;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* New Table */
.tableview {
  position: relative;
  padding-top: 3.4285714em;
  color: var(--grey);
  margin: 1rem 0;
  filter: drop-shadow( 0 0 10px rgba(0, 0, 0, .1));
}
.tableview:before {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
}
.tableview-holder {
  display: block;
  position: static;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 20rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
table {
  width: 100%;
  position: static;
  border-spacing: 0;
  border-collapse: collapse;
}
thead tr th, thead tr th:after {
  white-space: nowrap;
  position: static;
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
thead tr th:after {
  content: attr(sort-by);
  color: transparent;
  display: inline-block;
}
thead tr th:before {
  content: attr(sort-by);
  position: absolute;
  line-height: 3.4285714em;
  margin-top: -3.4285714em;
}

.tableview:before {
  height: 3.4285714em;
  background-color: var(--grey);
}

thead tr th {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  /* background-color: var(--grey); */
  color: var(--white);
  /* padding: 1rem 0; */
  text-align: center;
  /* border: none; */
  padding: 0 4rem;
}
thead tr th:hover {
    cursor: pointer;
    opacity: 0.7;
}
tbody:hover tr td {
  opacity: .4;
  background-color: var(--white);
}
tbody:hover tr:hover td{
  opacity: 1;
  cursor: pointer;
  background-color: white;
}
tbody:hover tr:hover {
  filter: drop-shadow( 0 0 10px rgba(0, 0, 0, .1));
}
tbody tr {
    border-bottom: 1px solid var(--white);
}

tbody tr td {
  padding: 0.5rem 1rem;
  text-align: center;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
}

#main-table {
    background-color: white;
    margin-top: 0;
}
